<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importaciones" data-toc-modified-id="Importaciones-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importaciones</a></span></li><li><span><a href="#Importación-de-DataFrame" data-toc-modified-id="Importación-de-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importación de DataFrame</a></span></li><li><span><a href="#Análisis-exploratorio-de-los-datos" data-toc-modified-id="Análisis-exploratorio-de-los-datos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Análisis exploratorio de los datos</a></span></li></ul></div>

# Importaciones

In [56]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
from sklearn.model_selection import train_test_split, learning_curve
from sklearn.metrics import average_precision_score
from xgboost.sklearn import XGBClassifier
from xgboost import plot_importance, to_graphviz
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
import pandas_profiling
from pathlib import Path

# Importación de DataFrame

In [2]:
df=pd.read_csv('PS_20174392719_1491204439457_log.csv')

# Análisis exploratorio de los datos

In [50]:
print(df.shape)       # Vemos el contenido del DataFrame
df.tail()

(6362620, 11)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [51]:
df.isna().sum()   #Comprobamos que el DF no tenga datos nulos

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [5]:
df.info() # Se observa el tipo de datos que tenemos por columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [45]:
df.describe() # Vemos las estadísticas del DF

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [49]:
df.step.value_counts() # Analizamos

19     51352
18     49579
187    49083
235    47491
307    46968
       ...
432        4
706        4
693        4
112        2
662        2
Name: step, Length: 743, dtype: int64

In [39]:
df.type.value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [41]:
df.isFraud.value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [42]:
df.isFlaggedFraud.value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [ ]:
df.isFlaggedFraud.

In [43]:
print('Los tipos de casos fraudulentos son {}'.format(
list(df.loc[df.isFraud == 1].type.drop_duplicates()))) 

dfFraudTransfer = df.loc[(df.isFraud ==1) & (df.type == 'TRANSFER')]
dfFraudCashOut = df.loc[(df.isFraud ==1) & (df.type == 'CASH_OUT')]
dfFraudPayment = df.loc[(df.isFraud ==1) & (df.type == 'PAYMENT')]
dfFraudCashIn = df.loc[(df.isFraud ==1) & (df.type == 'CASH_IN')]
dfFraudDebit = df.loc[(df.isFraud ==1) & (df.type == 'DEBIT')]




print('El numero de casos fraudulentos TRANSFERS = {}'.format(len(dfFraudTransfer)))
print('El numero de casos fraudulentos CASH_OUT = {}'.format(len(dfFraudCashOut)))
print('El numero de casos fraudulentos PAYMENT = {}'.format(len(dfFraudPayment)))
print('El numero de casos fraudulentos CASH_IN = {}'.format(len(dfFraudCashIn)))
print('El numero de casos fraudulentos DEBIT = {}'.format(len(dfFraudDebit)))

Los tipos de casos fraudulentos son ['TRANSFER', 'CASH_OUT']
El numero de casos fraudulentos TRANSFERS = 4097
El numero de casos fraudulentos CASH_OUT = 4116
El numero de casos fraudulentos PAYMENT = 0
El numero de casos fraudulentos CASH_IN = 0
El numero de casos fraudulentos DEBIT = 0

In [44]:
print('Los tipos de casos FlaggedFraud son {}'.format(
list(df.loc[df.isFlaggedFraud == 1].type.drop_duplicates())))

Los tipos de casos FlaggedFraud son ['TRANSFER']